---
import Theme from "../scripts/theme.astro";
import BaseHead from "../components/base-head.astro";
import NoteHeader from "../components/note-header.astro";
import { Header } from "../components/Header";

type Props = {
    created: string;
    filename: string;
    id: number;
    line: string;
    title: string;
    updated: string;
};

const { title, created, updated } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} />
        <Theme />
    </head>
    <body>
        <div class="m-auto flex max-w-xl flex-col bg-white dark:bg-[#121212]">
            <main class="px-2">
                <Header client:idle />
                <article>
                    <NoteHeader
                        title={title}
                        created={created}
                        updated={updated}
                        timeZone="Europe/Athens"
                    />
                    <slot />
                </article>
            </main>
        </div>
    </body>
</html>
